name: Format-Check

on: [push, pull_request]

jobs:
  Format:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Format
      run: make fmt

    - name: Assert Unchanged
      run: git diff --exit-code
